/*paleta de cores encontrada no
https://brandpalettes.com/*/

/*variáveis*/
:root{
	--vermelho:#E50914;
	--preto: #141414;
	--cinzaclaro: #AAA;
	--branco: #FFF;
}

/*elementos base*/
body{
	background: var(--preto);
	font-family: "Bebas Neue", cursive;
	color: var(--branco);
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

header .container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header .logo{
	color: var(--vermelho);
	font-family: 'Arial Black', cursive;
	font-size: 40px;
	margin-left: 5px;
}

header nav a{
	text-decoration: none;
	color: var(--cinzaclaro);
	margin-right: 10px;
}

header nav a:hover{
	color: var(--branco);
}

/*filme principal*/
